@import '../../vars';
.nav {
	display: flex;
	justify-content: center;
	flex: 1 1 auto;
	color: inherit;
	> ul {
		display: flex;
		a {
			transition: color 0.4s ease;
			padding: 10px 0;
			margin-right: 15px;
			> li {
				font-weight: 700;
				font-size: 18px;
				&:hover > a {
					color: $primary;
				}
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.nav {
		display: none;
	}
}
