@import '../../vars';
.filmItem {
	cursor: pointer;
	margin-right: 20px;
	width: 300px;

	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;

	.imgBlock {
		width: 100%;
		height: 50%;
		overflow: hidden;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 1;
		position: relative;
		transition: all 0.4s ease;
		position: relative;

		&:hover {
			transform: scale(1.04);
		}
	}
	.infoBlock {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
		color: $primary;
		.info {
			max-height: 40px;
			line-height: 1.2;
		}

		.info span {
			margin-right: 5px;
			opacity: 0.6;
			font-weight: 300;
			font-size: 14px;
			color: $primary;
		}
		.description {
			opacity: 0.9;
			margin-top: 6px;
			max-height: 70px;
			width: 300px;
			padding-right: 5px;
			font-size: 14px;
			display: -webkit-box;
			-webkit-line-clamp: 3;

			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
