@import '../../vars';

.intro {
	z-index: 3;
	width: 100%;
	height: 900px;
	background-position: top;
	-webkit-box-shadow: inset 0 0 0 #000, inset 0 0 900px #000, inset 0 0 900px #000;
	-moz-box-box-shadow: inset 0 0 0 #000, inset 0 0 900px #000, inset 0 0 900px #000;
	box-shadow: inset 0 0 0 #000, inset 0 0 900px #000, inset 0 0 900px #000;
	background-repeat: no-repeat;
	background-size: cover;

	.introInner {
		height: 100%;
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
		.introLogo {
			height: 100%;
			width: 60%;
			max-width: 650px;
			padding: 0 0 0 3rem;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: end;

			.img {
				width: 100%;
				height: 100%;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				z-index: 1;
			}
			.informationBlock {
				width: 100%;
				margin-top: -70px;

				color: rgba(255, 255, 255, 0.6);
				font-weight: 400;

				> .info > span {
					margin-right: 10px;
					font-size: 16px;
				}
			}
			.description {
				font-family: inherit;
				font-weight: 400;
				font-size: 26px;
				line-height: 1.3;
				color: rgba(255, 255, 255, 0.9);
				text-align: justify;
				opacity: 1;
			}
		}

		.buttonsBlock {
			height: 100px;
			margin-top: 30px;
			width: 100%;
			display: flex;
			justify-content: space-around;

			> button {
				border: 0;
				height: 50px;
				width: 50px;
				margin-right: 8px;
				flex: 1;
				font-weight: 600;
				font-size: 15px;
				&:hover {
					background: lighten($color: $bg-thirdly, $amount: 5);
				}
			}

			.aboutMovieBtn,
			.goWatchingBtn {
				padding: 10px 20px;
				border-radius: 30px;
				display: inline-block;
				a {
					color: $primary;
				}
			}

			.goWatchingBtn {
				flex: 4;
				background-image: linear-gradient($orange-gradient);
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					i {
						font-size: 20px;
					}
				}
				&:hover {
					transform: scale(1.07);
					background-image: linear-gradient($orange-gradient);
				}
			}
			.aboutMovieBtn {
				flex: 2;
				background-color: $bg-secondary;
				a {
					text-align: center;
				}
			}

			.dotsMoreBtn {
				padding: 0 4px;
				background-color: $bg-secondary;
				border-radius: 50%;
				i {
					color: $primary;
					font-size: 20px;
				}
			}
		}
	}
}

.imgWrapper {
	width: 100%;
	height: 100%;
	max-height: 400px;
}

@media screen and (max-width: 1440px) {
	.intro {
		height: 550px;
		.introInner {
			max-width: 1230px;
			.introLogo {
				max-width: 500px;
				.imgWrapper {
					max-height: 250px;
				}
				.informationBlock {
					margin-top: -30px;
					> .info > span {
						font-size: 16px;
					}
					.description {
						font-size: 18px;
						line-height: 1.4;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.intro {
		-webkit-box-shadow: inset 0 0 0 #000, inset 0 0 400px #000, inset 0 0 400px #000;
		-moz-box-box-shadow: inset 0 0 0 #000, inset 0 0 400px #000, inset 0 0 400px #000;
		box-shadow: inset 0 0 0 #000, inset 0 0 400px #000, inset 0 0 400px #000;
		max-height: 500px;
		.introInner > .introLogo {
			max-width: 400px;
			.imgWrapper {
				max-height: 180px;
			}
			padding: 0 2rem;
			width: 100%;
			.informationBlock {
				.info span {
					font-size: 14px;
				}
				.description {
					font-size: 16px;
				}
			}
		}
	}
}
